[package]
name = "quantum-soft-keyboard"
version = "0.1.0"
authors = ["Wayne Warren <wayne.warren.s@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [
  "lib/qsk-layers",
  "lib/qsk-events",
  "lib/qsk-engine",
  "lib/qsk-device",
]

[dependencies]
async-std = { version = "~1.5", features = ["unstable"] }
maplit = "1.0"

# cli
clap = "~2.33"
fern = "~0.5" # log implementation

# logging
log = "~0.4"

# qsk
qsk-events = { version = "0.1.0", path = "lib/qsk-events" }
qsk-layers = { version = "0.1.0", path = "lib/qsk-layers" }
qsk-engine = { version = "0.1.0", path = "lib/qsk-engine" }
qsk-device = { version = "0.1.0", path = "lib/qsk-device" }
